grafana:
  adminPassword: "{{ grafana_admin_password }}"
  nodeSelector:
    kubernetes.io/hostname: "{{ target_worker_node }}"
  grafana.ini:
    dashboards:
      min_refresh_interval: 1s
      
  # [추가됨] Kubecost 전용 프로메테우스를 그라파나에 자동으로 연결합니다!
  additionalDataSources:
    - name: Kubecost-Internal
      type: prometheus
      url: http://kubecost-prometheus-server.{{ kubecost_namespace }}.svc:80
      access: proxy
      isDefault: false