# ./roles/prometheus_stack/templates/prometheus-values.yaml.j2
prometheus:
  prometheusSpec:
    nodeSelector:
      kubernetes.io/hostname: "{{ target_worker_node }}"
    externalLabels:
      cluster_id: "finops-k3s"
    
    # 다른 네임스페이스의 모니터링 규칙과 타겟을 모두 인식하도록 제한 해제
    serviceMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false

prometheusOperator:
  nodeSelector:
    kubernetes.io/hostname: "{{ target_worker_node }}"

prometheus-node-exporter:
  prometheus:
    monitor:
      enabled: true
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          targetLabel: node
          action: replace
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          targetLabel: instance
          action: replace